<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<img src="../../../static/img/b" width="474" height="360" alt="df" />
<img name="h" src="Djngo/static/img/bc6044@gmail.com1.jpg" width="32" height="32" alt="" />
<body>
<p>{{ additem.name }}</p>
<p>{{ additem.id }}</p>
</body>
</html>
